@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
	font-family: 'SEGA LOGO FONT';
	color: #0ccac4;
	font-weight: 200;
}

.Load{
	position: fixed;
	top: 50;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}