/******* Class for the Intro Message ***********/
.introWrap{
	color: black;
	text-align: center;
	padding: 30px;
	border-style: solid black;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 5px;
	opacity: 0.8;
	border-radius: 30px;
}

.introWrap:hover {
	opacity: 1;
	animation: reverse;
}
/************* Creating Grid ***********/
.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	background-color: ; /*Implement background color here*/
}

.cost{
	grid-column-start: 2;
	grid-column-end: 2;
	text-align: left;
}

.distance{
	grid-column-start: 3;
	grid-column-end: 3;
	text-align: left;
}

.rating{
	grid-column-start: 4;
	grid-column-end: 4;
	text-align: left;
}

/****** Updating Cost & Distance Keys ********/
.box1{
	text-align: left;
}

.box2{
	text-align: left;
}

/****** Updating Unordered List ********/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}